.cont{
  width:100%;
  //border:1px solid red;
}
.item{
  width:232px;
  height:1500px;
  //border:2px solid darkblue;
}
.fuck{
  background-color: red;
}
.item2{
  width:232px;
  height:252px;
  border:2px solid blue;
}
.border{
  border:3px solid black;
}

